body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
header{
    width: 100vw;
    padding: 5vh;
    background-color:rgba(34, 34, 33, 0.3);
}
#header__section{
    display: flex;
    justify-content: center;
    align-items: stretch;
}
nav{
    padding-top: 5vh;
    display: inline;
    flex-direction: row;
}
#section__logo{
    height: 10vh;
    width: 10vw;
    justify-content: left;
}
.logo{
    height: 100%;
    width: 100%;
}
#ul__nav li {
    display:inline;
    padding-left: 3px;
    padding-right: 3px;
    list-style: none;
}
#root {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}