/*variables*/
:root {
    --primary:  rgba(35, 35, 35, 0.3);
    --secondary: #364552; 
    --secondary2: rgb(49, 63, 75); 
    --on-primary: #000504;
    --on-secondary: rgb(250, 250, 250);
    --on-secondary2: rgb(240, 233, 233);}
*{
    margin: 0;
    box-sizing: border-box;
}
html {
    display: flex;
    border: 5px dashed red;
    width: 1920px;
    height: 1080px;
}  
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    background-color: var(--on-secondary);
    color: var(--secondary2);
    padding: 90px 20px 0;
}
.header {
    background-color: var(--primary);
    height: 80px;
    position: fixed;
    width: 1920px;
    top: 20;
    left: 0;
    border-bottom: 500px;
}
.nav {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.nav-link {
    font-size: 20px;
    color: var(--on-secondary);
    text-decoration: none;
}
.logo {
    font-size: 40px;
    padding: 0 40px ;
    line-height: 80px;
    margin-left: 15px;
}
.nav-menu {
    display:flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
}
.nav-menu-link {
    padding: 8px 12px;
    transition: 0.5s;
    justify-content: flex-end;
}
.nav-menu-link:hover {
    font-size: 25px;
    transition: 0.7s;
    text-decoration: underline;
}
.nav-menu-link:active {
    font-size: 25px;
    transition: 0.7s;
    text-decoration: underline;
    color: #364552;
}
.search {
    font-size: 15px;
    margin: 22px;
    padding-left: 20px;
    border-radius: 30px;
    border-style: hidden;
    font-family: 'Quicksand', sans-serif;
    width: 500px ;
    align-items:flex-end;
}
.search:hover {
    margin: 18px;
    border-radius: 30px;
    border-style: solid;
    border-color: rgba(224, 205, 205, 0.5);
}
.search:active{
    border-style: none;
    outline-style: none;
}
#root {
    display: flex;
    color: var(--secondary2);
    margin-top: 50px;
}
.product {
    background-color: var(--primary);
    height: 700px;
    margin: 50px 30px;
    border-radius: 0.3rem;
    padding: 30px;
    justify-content: space-evenly;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
    align-items: center;
}
.product-img {
    height: 600px;
    padding-bottom: 10px;
}
.product:hover {
    cursor:pointer;
    transition: 1s;
    margin: 100px 50px;
    height: 700px;
    contain: 600px;
}
.footer {  
    margin: 0;
    padding-left: 0;
    display: flex;
    background-color: var(--primary);
    height: 80px;
    position:fixed;
    width: 1920px;
    bottom: 5px;
    left: 0;
    border-bottom: 500px;
    align-items: center;
    justify-content: space-evenly;
}
.footer-menu-link {
    text-decoration: none;
    list-style: none;
    color: var(--on-secondary);
    position: relative;
    display: inline;
}
.footer-link {
    text-decoration: none;
    color: var(--on-secondary);
}.footer-link:hover{
    font-size-adjust: 20px;
    transition: 1s;
    font-size: 25px;
}