<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../css/style.css"> 
        <link rel="shortcut icon" href="../img/favicon.png"> 

    </head>
    <body>
        <header>
            <section id="header__section">
                <div class="section_logo">
                    <img class="logo" src="../img/logo.png"/>
                </div>
                <nav>
                    <ul id="ul__nav"> 
                        <li><a href="../view/index.html">Inicio</a></li>
                        <li><input id="search" type="Ingrese..." placeholder="placeholder"/></li>
                        <li><a href="../view/user.html">User</a></li>
                        <li><a href="../view/cart.html">Cart</a></li>
                        <li><a href="../view/config.html">Config</a></li>
                    </ul>
                </nav>
            </section>
        </header>
        <main> 
            <h1>Cart</h1>
        </main>
        <script type="module" src="../container/cart.js"></script>
        <footer>
            <h4>un footer</h4>
        </footer>
    </body>
</html>